<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoubleTabBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F0EEFAF1DE5EE4000821F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0EEFC31DE5EE4000821F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0EEFCE1DE5EE4000821F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
